<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include('partials/head')%>
  </head>

  <body>
    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et delectus,
          nostrum perferendis sapiente est quo inventore praesentium repellendus
          neque alias officiis accusamus cum, nihil maxime saepe ab, vero id?
          Obcaecati sint odit repellat aliquid. Odit, mollitia, reiciendis,
          repudiandae a ducimus labore nisi dignissimos impedit incidunt quam
          rerum. Rerum accusamus temporibus vel ducimus totam optio eligendi,
          ratione iste explicabo maiores fugiat. Cumque explicabo exercitationem
          cupiditate non ducimus quas beatae sapiente? Accusamus nam assumenda
          placeat vel tempora minus laudantium quae obcaecati? Doloremque
          laborum nesciunt, recusandae nam earum officia voluptates delectus?
          Rerum quo, debitis, tempore vero dolore ullam consequuntur ipsam
          soluta saepe assumenda excepturi explicabo eos reiciendis possimus,
          architecto sunt voluptatibus. Reiciendis omnis eos, quo neque animi
          facere deserunt totam quidem quisquam nisi! Iure necessitatibus aut ea
          nobis voluptatem. Debitis esse qui nihil quidem eum minus libero
          praesentium odit dolorem fuga alias aut quas, iste sed. Quaerat
          voluptates maxime alias exercitationem nesciunt? Repellat qui error
          commodi autem tempore ab quasi modi, eaque itaque, soluta quia nobis
          quidem, dolore adipisci sed ipsam dolores perspiciatis vero
          repellendus accusamus. Quod officiis nemo sit unde natus? Provident
          quod eius officia non assumenda saepe. Explicabo dolores autem harum
          iste laboriosam, voluptatem temporibus fugiat, earum laudantium nemo
          necessitatibus quibusdam ipsum sunt consequuntur aspernatur voluptatum
          sed similique aliquid, obcaecati corporis? Esse recusandae,
          perspiciatis aspernatur pariatur dignissimos molestiae. Culpa sit,
          itaque ducimus a illum quibusdam adipisci fugiat voluptatum, laborum
          odit saepe nam impedit officiis, sequi commodi voluptatem! Doloremque
          nesciunt magni nostrum velit. Architecto nemo nesciunt, similique
          reiciendis, accusamus consectetur natus quia rem, aperiam vitae
          deleniti voluptates? Quod neque molestias alias eos in, corrupti
          sapiente! Et quae nulla nam qui animi nostrum, tempora placeat
          similique reprehenderit perspiciatis repellendus iure omnis voluptate
          quia magni odio minima accusamus ipsum praesentium optio nesciunt
          illum enim. Amet ut dolor, reiciendis excepturi voluptates ipsam autem
          asperiores cupiditate.
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
